In [ ]:
print("Hello Ahmad Jamal Here now we working on python 1st class.")

Hello Ahmad Jamal Here now we working on python 1st class.

In [ ]:
name: str = 'Helo Ahmad Jamal'
print(name)

Helo Ahmad Jamal

if you want use ' in chracter then you use around "

In [ ]:
message:str = "PIAIC Student Card \nFather's Name"
print(message)

PIAIC Student Card
Father's Name

convert any special chracter in simple chracter, place\ before chracter

In [ ]:
messages:str='Piaic Student Card\n father\'s Name'

In [ ]:
names:str = "Ahmad Jamal"
fname:str = "Afzaal Hussain"
education:str ="Master in Data Science"
age:int = 30

card:str ="Piaic Student Card\n Student Name:" + names
print(card)

Piaic Student Card
 Student Name:Ahmad Jamal